body {
    background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    font-family: 'Roboto', Arial, sans-serif;
    }
    .navbar {
        height: 60px;
      }
      .navbar-brand {
        font-size: 30px;
        font-family: 'Bebas Neue', cursive;
        display: block;
      }
      .theme-button {
        cursor: pointer;
      }
      .h1 {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 32.5px;
        color: black;
      }
      .firstScreen {
        padding-top: 25px;
        padding-bottom: 100px;
      }
      .image {
        display: block;
        margin: auto;
        width: 70%;
        border: solid black;
        border-radius: 30px;
      }
      .arrow {
        border: solid black;
        border-width: 0 6px 6px 0;
        display: inline-block;
        padding: 6px;
        margin-top: 50px;
        cursor: pointer;
      }
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      .arrow-down {
        text-align: center;
        margin: auto;
      }
      .row {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .text {
        text-align: center;
        color: black;
      }
      h2.text {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
      } 
      .mb-3 {
        width: 300px;
        margin: auto;
        color: black;
      }
      .tel {
        margin-left: 658px;
      }
      .card {
        margin: auto;
      }
      .card-img-top {
        width: 270px;
        height: 150px;
      }
      .form-header {
        text-align: center;
        color: black;
        margin-bottom: 35px;
      }
      .submit {
        width: 300px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        text-align: center;
      }
      .submit:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: 0.5s;
      }
      .footer {
        color: black;
        font-size: small;
        text-align: center;
      }
