body {
  background: linear-gradient(315deg, #d2d7de 0%, #d5d9e0 74%);
  font-family: 'Roboto', Arial, sans-serif;
}
.navbar-nav {
  margin-left: auto;
}
.navbar {
  height: 75px;
  width: 100%;
}
.navbar-brand {
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  color: rgb(255, 208, 67) !important;
}
.navbar-brand:hover {
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  color: rgb(221, 169, 14) !important;
  transition: 0.3s;
}
.info {
  cursor: pointer;
}
.theme-button {
  cursor: pointer;
}
.nav-link {
  color: #ffffff !important;
  font-size: large;
}
.nav-link:hover {
  color: rgb(221, 169, 14) !important;
  transition: 0.3s;
}
.h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 32.5px;
  color: black;
}
.firstScreen {
  padding-top: 25px;
  padding-bottom: 100px;
}
.image {
  display: block;
  margin: auto;
  width: 70%;
  border: solid black;
  border-radius: 30px;
}
.arrow {
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  margin-top: 50px;
  cursor: pointer;
}
.arrow:hover {
  transition: 0.3s;
  border: solid rgb(221, 169, 14);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  margin-top: 50px;
  cursor: pointer;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow-down {
  text-align: center;
  margin: auto;
}
.row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.text {
  text-align: center;
  color: black;
}
h2.text {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
} 
.mb-3 {
  width: 300px;
  margin: auto;
  color: black;
}
.secondScreen {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper-2 {
  margin-top: 100px;
}
.img {
  width: 100px;
  display: block;
  margin: auto;
}
.card {
  width: 250px;
  border: 2px solid rgb(221, 169, 14);
}
.card-title {
  padding: 15px 0px;
  text-transform: uppercase;
  margin: auto;
}
.card-text {
  text-align: center;
}
.thirdScreen {
  margin-top: 150px;
}
.form-header {
  text-align: center;
  color: black;
  margin-bottom: 35px;
}
.submit {
  width: 300px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
}
.submit:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.footer {
  color: black;
  font-size: small;
  text-align: center;
  margin-top: 100px;
}