{% include "./header.html" %}
{% include "./navbar.html" %}
{% load static %}
<section id="section_1" class="container">
    <div class="row">
        <h3>
            Section 1
        </h3>
    </div>
</section>
<section id="section_1" class="container">
    <div class="row">
        <h3>
            Section 2
        </h3>
    </div>
</section>
<section id="section_1" class="container">
    <div class="row">
        <h3>
            Section 3
        </h3>
    </div>
</section>
<section id="section_1" class="container">
    <div class="row">
        <h3>
            Section 4
        </h3>
    </div>
</section>
{% include "./footer.html" %}